@import url('https://fonts.google.com/specimen/Manrope?query=manrope');
@import url('https://fonts.google.com/specimen/Staatliches?preview.text=Stolzl&preview.text_type=custom&category=Display');
@import url('https://fonts.google.com/specimen/Inter?preview.text=Stolzl&preview.text_type=custom&query=inter');
.img{
    height: 50px;
    position: relative;
    left: 30px;
}
.menu{
   position: relative;
   left:480px;
   height: 50px;
   font-size: larger;

}
.drop{
    background:transparent;
}
.head{
    position: relative;
    top: 150px;
    left: 150px;
    font-family: 'Manrope', sans-serif;
    font-size: 60px;
    background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
color: aliceblue;

    

}
.heading{
    position: relative;
    top: 10px;
    left: 500px;
    
}
.para{
    position: relative;
    top: 150px;
    left:160px;
    color: aliceblue;
    font-size: 30px;
   
    
    /* font-size: 70px; */
}
.heading1{
    background-color:#212529;
    height: 600px;
}
/* Define the keyframes */
/* Apply the animation to the element */
.element {
    position: absolute; 
    animation: rotate 5s , scale 3s infinite alternate;
    transform: translateX(-100%);
    top:90px;
    left:60px;
    z-index: 1; 

   
    /* left:0px;
    top:  */
  }
  .element::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Positions the pseudo-element behind the element */
    background-image: linear-gradient(to bottom, #cccccc, #dddddd); /* Greyish gradient */
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes scale {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }

  .sign{
    position: absolute;
    top: 330px;
    left: 22cm;
    width: 190px;
  }
  .colown1{
    position: relative;
    top:60px;
    left:100px;
    font-family: 'Inter', sans-serif;


  }
  .ct{
    background-color: #ffffff;
    animation: slideIn 1s forwards;

  }
  .no1{
    position: relative;
    top:50px;
  }
  .para2{
    position: relative;
    left: 50px;
    top: 13px;
  }


  .pa{
    position: relative;
    top: 150px;
  }
  .pa1{
    position: relative;
    top:170px;
  }
  .pa2{
    position: relative;
    top:190px;

  }
  .btn1{
    position: relative;
    top:200px;
    left:80px;
    height: 40px;
  }
  .section{
    position: relative;
    top: 200px;
    height: 1000px;
    background-color:#f5f5ff;
    border-radius: 30px;
  }
  .para4{
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 90px;
    left:100px;
    color: #484372;


  }
  .imag1{
    position: relative;
    left: 13cm;
    top:150px;
  }
  .para5{
    position: relative;
    top:100px;
    left: 120px;
    font-family: 'Inter', sans-serif;
    color: #484372;
  }
  .colm{

  }
  .fli{
    position: relative;
    top:5
  }
  .rec{
    background-color: #e9e9f9;
    height: 200px;
    width:350px;
    position: relative;
    left:190px;
    top:50px;
   border-radius: 30px;

  }
  .head1{
    text-align: center;
    position: relative;
    top:20px;
    color: #484372;
    font-family: 'Inter', sans-serif;
  }
  .bt{
    position: relative;
    top: 30px;
    left:30px;
  }
  .bt1{
    position: relative;
    top: 40px;
    left:30px;

  }
  .rec1{
    background-color: #e9e9f9;
    height: 200px;
    width:350px;
    position: relative;
    left:15cm;
    top:-150px;
   border-radius: 30px;

  }
  .rec2{
    background-color: #e9e9f9;
    height: 200px;
    width:350px;
    position: relative;
    left:25cm;
    top:-350px;
   border-radius: 30px;

  }
  .btn1{
    position: relative;
    top:170px;
    left: -250px;
  }
  .footer{
    position: relative;
    top:40px;
    left:-300px;
    height: 500px;
    width: 0px;
    background-image: linear-gradient(to top, #b00db8, #ac00c8, #a400d9, #9800ec, #8511ff);
        background-size: 200% auto;
    animation: gradientAnimation 5s reverse infinite;
  }
  @keyframes gradientAnimation {
    0% {
      background-position: 10% center;
    }
    100% {
      background-position: 100% center;
    }
  }
  .card{
    position: relative;
    top:70px;
    left: 40px;
    height: 500px;
    width: 1400px;
    border-radius: 6px;
  }
  .box1{
    position: relative;
    top:150px;
    left: 40px;
    height: 300px;
    border-radius: 60px;

  }
  .img12{
    height: 120px;
    width: 120px;
    position: relative;
    top:-40px;
    left: 100px;
  }
  .text1{
    height: 30px;
    position: relative;
    top: -190px;
    left: 950px;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    list-style-type: none;
  }
  a{
    cursor: pointer;
  }
  .brand{
    position: absolute;
    top:-10px;
    left:300px;
    font-size: 35px;
    font-family: 'Manrope', sans-serif;
  }
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .me-2{
    height: 30px;
    position: relative;
    top: 10px;
  }
  .me-3{
    position: relative;
    top: 10px;
  }

  